@page "/"

<PageTitle>Strona domowa</PageTitle>

<h1>Dzień dobry,</h1>
<br>
<h1>Imie i nazwisko: Kamil Dominik</h1>
<h1>Numer Albumu: 119207</h1>
<br>
<h1>Z góry dziekuje za przyjęcie projektu, miłego dnia.</h1>
<br>
<br>
Welcome to your SAN app.
