@page "/Obrazek"

<PageTitle>Obrazek</PageTitle>

<br />
<h1 style="margin-left: 465px;">Graf Blazor</h1>
<br />
<br />
<img src="/Blazorimg.png" alt="Description of your image" width="35%" height="35%" style="position: relative; left: 350px;" />
<br />
